<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<title>居然之家问卷调查</title>
<link rel="stylesheet" href="../css/style.css">
<script src="../script/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body>

	<!-- -->
	<header id="header">
		<nav class="link">
			<h2 style="background-color: #E1E100" align="center">居然之家问卷调查</h2>
		</nav>
	</header>
	<div class="list ticket" style="padding-top: 30px">
		<form method="post" id="form1">
			<fieldset class="form">
				<p>
					<label for="from_city">服务是否完成</label> <input name="complete"
						id="complete_ok" value="1" type="radio">是 <input
						name="complete" id="complete_no" value="0" type="radio">否
				</p>
				<p>
					<label for="to_city">送货时效是否满意</label> <input name="delivery"
						id="delivery_ok" value="1" type="radio">是 <input
						name="delivery" id="delivery_no" value="0" type="radio">否
				</p>
			</fieldset>
			<fieldset class="form">
				<p>
					<label for="from_date">安装质量是否满意</label> <input name="install"
						id="install_ok" value="1" type="radio">是 <input
						name="install" id="install_no" value="0" type="radio">否
				</p>
				<p>
					<label for="to_date">是否愿意接受电话回访回访</label> <input name="callback"
						id="callback_ok" value="1" type="radio">是 <input
						name="callback" id="callback_no" value="0" type="radio">否
				</p>
			</fieldset>
			<fieldset class="form">
				<p>
					<input id="workorderid" name="workorderid"
						value="f2dab70c-667d-479f-b00b-71c39777ce33" type="hidden">

				</p>
			</fieldset>
		</form>
		<button class="submit" id="mySubmit" onclick="checkForm()">提交</button>
	</div>

	<footer id="footer">
		<div class="top">客户端 | 触屏版 | 电脑版</div>
		<div class="bottom">Copyright(C) 北京居然之家智慧物联科技有限公司 2003-2018,All Rights Reserved.</div>
	</footer>

	<script type="text/javascript">
		$("document").ready(
				function() {
					$.getJSON(getRootPath()
							+ "/appraise/getAppraise?workorderid="
							+ getUrlParam("workorderid"), function(result) {
						console.log(result);
						 
						if (result.returnCode== 200) {
							var appraiseMessage = result.data;
							//alert(appraiseMessage);
							if (1 == appraiseMessage.evalServiceComplete) {
								$("#complete_ok").attr("checked", true);
							} else {
								$("#complete_no").attr("checked", true);
							}
							
							if (1 == appraiseMessage.evalDelivery) {
								$("#delivery_ok").attr("checked", true);
							}else{
								$("#delivery_no").attr("checked", true);
							}
							
							if (1 == appraiseMessage.evalInstall) {
								$("#install_ok").attr("checked", true);
							}else{
								$("#install_no").attr("checked", true);
							}
							
							if (1 == appraiseMessage.evalPhoneBack) {
								$("#callback_ok").attr("checked", true);
							}else{
								$("#callback_no").attr("checked", true);
							}
							$("input:radio").attr("disabled", "disabled");
							$(".submit").attr("disabled", "disabled").html( "已评价");
							$(".submit").unbind('click');
						}
					
					});
				})();

		function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
			var r = window.location.search.substr(1).match(reg); //匹配目标参数
			if (r != null)
				return unescape(r[2]);
			return null; //返回参数值
		}

		function getRootPath() {
			//获取当前网址，如： http://localhost:8083/proj/meun.jsp  
			var curWwwPath = window.document.location.href;
			//获取主机地址之后的目录，如： proj/meun.jsp  
			var pathName = window.document.location.pathname;
			var pos = curWwwPath.indexOf(pathName);
			//获取主机地址，如： http://localhost:8083  
			var localhostPath = curWwwPath.substring(0, pos);
			//获取带"/"的项目名，如：/proj  
			var projectName = pathName.substring(0, pathName.substr(1).indexOf(
					'/') + 1);
			return (localhostPath + projectName);
		}
		function checkForm() {
			var complete = $('input[name="complete"]:checked').val();
			if (complete == undefined) {
				alert("请选择【服务是否完成】评价");
				return false;
			}
			var delivery = $('input[name="delivery"]:checked').val();
			if (delivery == undefined) {
				alert("请选择【送货时效是否满意】评价");
				return false;
			}

			var install = $('input[name="install"]:checked').val();
			if (install == undefined) {
				alert("请选择【安装质量是否满意】评价");
				return false;
			}
			var callback = $('input[name="callback"]:checked').val();
			if (callback == undefined) {
				alert("请选择【是否愿意接受电话回访回访】评价");
				return false;
			}
			returncheckForm();
		}
		//提交信息
		function returncheckForm() {
			
			var complete = $('input[name="complete"]:checked').val();
			var delivery = $('input[name="delivery"]:checked').val();
			var install = $('input[name="install"]:checked').val();
			var callback = $('input[name="callback"]:checked').val();
			var workorderid = getUrlParam("workorderid");
			var address = getUrlParam("address");
			var time = getUrlParam("time");
			var url = getRootPath() + "/appraise/addAppraise";
			$.ajax({
				url : url,
				type : "POST",
				data : {
					"workorderid" : workorderid,
					"address" : address,
					"time" : time,
					"evalServiceComplete":complete,
					"evalDelivery":delivery,
					"evalInstall":install,
					"evalPhoneBack":callback
				},
				dataType : "json",
				cache : false,
				success : function(data) {
					if (data.returnCode == 200) {
						alert("评价成功！");
						$("input:radio").attr("disabled", "disabled");
						$(".submit").attr("disabled", "disabled").html("已评价");
						$(".submit").unbind('click');
					}
				},
				error : function() {
					alert("提交失败！");
				}
			});
		}
	</script>

</body>
</html>