@charset "utf-8";
html {
    font-size: 625%;
}

body, h1, h2, h3, h4, p, ul, ol, form, fieldset, figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBEBEB;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
    font-size: .14rem;

}

ul, ol {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

div, figure, figcaption {
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: auto;
}
*,
::before,
::after{
    padding: 0;
    margin: 0;

    /*点击高亮效果*/
    -webkit-tap-highlight-color:transparent;/*清除点击高亮效果*/

    /*设置宽度以边框开始计算*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.entirety {
    width: 100%;
    height:100%;
    overflow: hidden
}
/*头部 标题*/
.header {
    width: 100%;
    height: 0.35rem;
    background-color: #333;
    font-size: 0.14rem;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.header .link {
    height: .35rem;
    line-height: .35rem;
    color: #eee;
}
.header .link a {
    color: #eee;
    display: block;
}
.middle{
    width: 100%;
    height: 100%;
}
/*.w {*/
    /*padding-top: 0.3rem;*/
/*}*/
/*复选框盒子*/
.interval {
    padding-top: 0.3rem;
    width: 100%;
    background-color: #ffffff;
}
.interval_one {

 padding-left: 0.45rem;
}

/*复选框样式*/
.container {
    margin: .2rem auto;
    padding-top:0.01rem;
}

.container span {
    position: relative;
}

.container .input_check {
    position: absolute;
    visibility: hidden;
}
.container p{
    padding-bottom: 0.03rem;
}
.container .input_check + label {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    border: 1px solid gray;
}

.container .input_check:checked + label:after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: 8px;
    width: 20px;
    height: 12px;
    border: 4px solid #6BC242;
    border-top-color: transparent;
    border-right-color: transparent;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-45deg);
}

/*星级评价盒子*/
.interval_two {
    padding-bottom: .03rem;
    padding-top: 0.03rem;
    background-color: #ffffff;
    width: 100%;
}
.interval_three{
    width: 100%;
    padding-left: .45rem;
}
.interval_three .form {
    border: none;
}
/*星级评价*/
ul.star {
    width: 100%;
    position: relative;
}

ul.star li {
    width: 100%;
    height: 23px;
    clear: both;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
}

ul.star li label, ul.star li span, ul.star  {
    display: block;
    float: left;
}

ul.star li label {
    margin-right: 5px;
    width: 120px;
    padding-top: 0.03rem;
}

ul.star li span {
    width: 23px;
    height:19px;
    background: url(../../view/img/stars.png) no-repeat ;
    text-indent: -9999px;
    cursor: pointer;
}

ul.star li span.active {
    background-position: 0 -28px;
}


/*备注*/

.comment{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 0.2rem;
}

.comment .comment_text{
    width: 100%;
    padding-left: 0.45rem;
}
.comment .texts{
    height: 0.65rem;
    width: 2.3rem;
    border-radius: 6px;
}
.comment textarea{resize:none}
.comment span{
 padding-bottom: 0.1rem;
}
/*提交按钮*/
.submit_one{
    width: 100%;
    padding-top: 0.3rem;
}
.submit {
    width: 55%;
    border-radius: .04rem;
    background-color: #00B285;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0.08rem;
    margin: 0 auto;
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 0.1rem;
}
/*底部*/
.footer_bg {
    width: 100%;
    height: auto;
    position: relative;
}

.footer {
    width: 100%;
    height: 0.7rem;
    background-color: #222;
    color: #777;
    margin: 0 auto;
    text-align: center;
    padding: .1rem .2rem;
    font-size: .1rem;
    margin-top: 1rem;
}


