<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyhome.dao.mb.BusSequenceStorageDao">
<!-- 插入图片信息 -->
    <insert id = "insertBusSequenceData" parameterType="com.easyhome.po.mb.BusSequenceStorageBean">
       INSERT INTO BUS_SEQUENCE_STORAGE(
           id,
           bus_id,
           bus_sequence,
           create_time,
           create_user,
           modify_time,
           modify_user,
           yn,
           bus_type
       )VALUES(
       BUS_SEQUENCE_STORAGE_sequence.nextval,
       #{busId},
       #{busSequence},
       sysdate,
       'admin',
       sysdate,
       'admin',
       0,
       #{busType}
       )   
    </insert>
    
    <resultMap type="com.easyhome.po.mb.BusSequenceStorageBean" id ="selectSequenceBean">
        <result column="id" property="id"/>
        <result column="bus_id" property="busId"/>
        <result column="bus_sequence" property="busSequence"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="yn" property="yn"/>
        <result column="bus_type" property="busType"/>
    </resultMap>
    
    <!-- 根据业务主键id和商家类型查询图片信息 -->
    <select id="selectSequenceData" resultMap="selectSequenceBean">
        select 
         id,
         bus_id,
         bus_sequence,
         to_char(create_time,'yyyy-MM-dd HH24:mi:ss') createTime,
         create_user,
         to_char(modify_time,'yyyy-MM-dd HH24:mi:ss') modifyTime,
         modify_user
         from BUS_SEQUENCE_STORAGE
         where yn=0 and bus_id=#{busId} and bus_type=#{busType}
    </select>    
</mapper>