<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyhome.dao.TbMasterMapper" >
  <resultMap id="BaseResultMap" type="com.easyhome.po.TbMaster" >
    <result column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="PLAT_FORM_ID" property="platFormId" jdbcType="DECIMAL" />
    <result column="SKILL" property="skill" jdbcType="VARCHAR" />
    <result column="PLAT_FORM_NAME" property="platFormName" jdbcType="VARCHAR" />
    <result column="SKILL_NAME" property="skillName" jdbcType="VARCHAR" />
    <result column="IDENTITY_CARD" property="identityCard" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="ORGANIZE_ID" property="organizeId" jdbcType="VARCHAR" />
    <result column="ORGANIZE_NAME" property="organizeName" jdbcType="VARCHAR" />
    <result column="WORK_TYPE" property="workType" jdbcType="VARCHAR" />
    <result column="WORK_TYPE_DISPLAY" property="workTypeDisplay" jdbcType="VARCHAR" />
    <result column="SERVICE_PROVINCE" property="serviceProvince" jdbcType="VARCHAR" />
    <result column="SERVICE_CITY" property="serviceCity" jdbcType="VARCHAR" />
    <result column="SERVICE_DISTRICT" property="serviceDistrict" jdbcType="VARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="BANK_NUMBER" property="bankNumber" jdbcType="VARCHAR" />
    <result column="SOS_LINK_MAN" property="sosLinkMan" jdbcType="VARCHAR" />
    <result column="RELATIONSHIP" property="relationship" jdbcType="VARCHAR" />
    <result column="LINK_PHONE" property="linkPhone" jdbcType="VARCHAR" />
    <result column="SERVICE_PROVINCE_DISPLAY" property="serviceProvinceDisplay" jdbcType="VARCHAR" />
    <result column="SERVICE_CITY_DISPLAY" property="serviceCityDisplay" jdbcType="VARCHAR" />
    <result column="SERVICE_DISTRICT_DISPLAY" property="serviceDistrictDisplay" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="AGE" property="age" jdbcType="VARCHAR" />
    <result column="CHAT" property="chat" jdbcType="VARCHAR" />
    <result column="HAVE_CAR" property="haveCar" jdbcType="VARCHAR" />
    <result column="HAVE_TEAM" property="haveTeam" jdbcType="VARCHAR" />
    <result column="TEAM_NUM" property="teamNum" jdbcType="DECIMAL" />
    <result column="HAVE_TOOLS" property="haveTools" jdbcType="VARCHAR" />
    <result column="HAVA_INSURANCE" property="havaInsurance" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="AUDIT_USER_ID" property="auditUserId" jdbcType="VARCHAR" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="DATE" />
    <result column="IMAGE_URL1" property="imageUrl1" jdbcType="VARCHAR" />
    <result column="AUDIT_USER" property="auditUser" jdbcType="VARCHAR" />
    <result column="IMAGE_URL2" property="imageUrl2" jdbcType="VARCHAR" />
    <result column="IMAGE_URL3" property="imageUrl3" jdbcType="VARCHAR" />
    <result column="REFEREE" property="referee" jdbcType="VARCHAR" />
    <result column="REFEREE_PHONE" property="refereePhone" jdbcType="VARCHAR" />
    <result column="MASTER_NO" property="masterNo" jdbcType="VARCHAR" />
    <result column="CAR_TYPE" property="carType" jdbcType="VARCHAR" />
    <result column="MASTER_FROM" property="masterFrom" jdbcType="VARCHAR" />
    <result column="BRANCH" property="branch" jdbcType="VARCHAR" />
    <result column="CERTIFICATION_STATUS" property="certificationStatus" jdbcType="DECIMAL" />
    <result column="WORK_SKILL" property="workSkill" jdbcType="VARCHAR" />
    <result column="MASTER_TYPE" property="masterType" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FID, NAME, PHONE, SEX, PLAT_FORM_ID, SKILL, PLAT_FORM_NAME, SKILL_NAME, IDENTITY_CARD, 
    CITY, ORGANIZE_ID, ORGANIZE_NAME, WORK_TYPE, WORK_TYPE_DISPLAY, SERVICE_PROVINCE, 
    SERVICE_CITY, SERVICE_DISTRICT, BANK_ACCOUNT, BANK_NAME, BANK_NUMBER, SOS_LINK_MAN, 
    RELATIONSHIP, LINK_PHONE, SERVICE_PROVINCE_DISPLAY, SERVICE_CITY_DISPLAY, SERVICE_DISTRICT_DISPLAY, 
    STATUS, REASON, CREATE_TIME, AGE, CHAT, HAVE_CAR, HAVE_TEAM, TEAM_NUM, HAVE_TOOLS, 
    HAVA_INSURANCE, REMARK, CREATE_USER_ID, AUDIT_USER_ID, AUDIT_TIME, IMAGE_URL1, AUDIT_USER, 
    IMAGE_URL2, IMAGE_URL3, REFEREE, REFEREE_PHONE, MASTER_NO, CAR_TYPE, MASTER_FROM, 
    BRANCH, CERTIFICATION_STATUS, WORK_SKILL, MASTER_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.easyhome.po.TbMasterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_MASTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.easyhome.po.TbMasterExample" >
    delete from TB_MASTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.easyhome.po.TbMaster" >
    insert into TB_MASTER (FID, NAME, PHONE, 
      SEX, PLAT_FORM_ID, SKILL, 
      PLAT_FORM_NAME, SKILL_NAME, IDENTITY_CARD, 
      CITY, ORGANIZE_ID, ORGANIZE_NAME, 
      WORK_TYPE, WORK_TYPE_DISPLAY, SERVICE_PROVINCE, 
      SERVICE_CITY, SERVICE_DISTRICT, BANK_ACCOUNT, 
      BANK_NAME, BANK_NUMBER, SOS_LINK_MAN, 
      RELATIONSHIP, LINK_PHONE, SERVICE_PROVINCE_DISPLAY, 
      SERVICE_CITY_DISPLAY, SERVICE_DISTRICT_DISPLAY, 
      STATUS, REASON, CREATE_TIME, 
      AGE, CHAT, HAVE_CAR, 
      HAVE_TEAM, TEAM_NUM, HAVE_TOOLS, 
      HAVA_INSURANCE, REMARK, CREATE_USER_ID, 
      AUDIT_USER_ID, AUDIT_TIME, IMAGE_URL1, 
      AUDIT_USER, IMAGE_URL2, IMAGE_URL3, 
      REFEREE, REFEREE_PHONE, MASTER_NO, 
      CAR_TYPE, MASTER_FROM, BRANCH, 
      CERTIFICATION_STATUS, WORK_SKILL, MASTER_TYPE
      )
    values (#{fid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{platFormId,jdbcType=DECIMAL}, #{skill,jdbcType=VARCHAR}, 
      #{platFormName,jdbcType=VARCHAR}, #{skillName,jdbcType=VARCHAR}, #{identityCard,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{organizeId,jdbcType=VARCHAR}, #{organizeName,jdbcType=VARCHAR}, 
      #{workType,jdbcType=VARCHAR}, #{workTypeDisplay,jdbcType=VARCHAR}, #{serviceProvince,jdbcType=VARCHAR}, 
      #{serviceCity,jdbcType=VARCHAR}, #{serviceDistrict,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankNumber,jdbcType=VARCHAR}, #{sosLinkMan,jdbcType=VARCHAR}, 
      #{relationship,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}, #{serviceProvinceDisplay,jdbcType=VARCHAR}, 
      #{serviceCityDisplay,jdbcType=VARCHAR}, #{serviceDistrictDisplay,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{reason,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{age,jdbcType=VARCHAR}, #{chat,jdbcType=VARCHAR}, #{haveCar,jdbcType=VARCHAR}, 
      #{haveTeam,jdbcType=VARCHAR}, #{teamNum,jdbcType=DECIMAL}, #{haveTools,jdbcType=VARCHAR}, 
      #{havaInsurance,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{auditUserId,jdbcType=VARCHAR}, #{auditTime,jdbcType=DATE}, #{imageUrl1,jdbcType=VARCHAR}, 
      #{auditUser,jdbcType=VARCHAR}, #{imageUrl2,jdbcType=VARCHAR}, #{imageUrl3,jdbcType=VARCHAR}, 
      #{referee,jdbcType=VARCHAR}, #{refereePhone,jdbcType=VARCHAR}, #{masterNo,jdbcType=VARCHAR}, 
      #{carType,jdbcType=VARCHAR}, #{masterFrom,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, 
      #{certificationStatus,jdbcType=DECIMAL}, #{workSkill,jdbcType=VARCHAR}, #{masterType,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.easyhome.po.TbMaster" >
    insert into TB_MASTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="platFormId != null" >
        PLAT_FORM_ID,
      </if>
      <if test="skill != null" >
        SKILL,
      </if>
      <if test="platFormName != null" >
        PLAT_FORM_NAME,
      </if>
      <if test="skillName != null" >
        SKILL_NAME,
      </if>
      <if test="identityCard != null" >
        IDENTITY_CARD,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="organizeId != null" >
        ORGANIZE_ID,
      </if>
      <if test="organizeName != null" >
        ORGANIZE_NAME,
      </if>
      <if test="workType != null" >
        WORK_TYPE,
      </if>
      <if test="workTypeDisplay != null" >
        WORK_TYPE_DISPLAY,
      </if>
      <if test="serviceProvince != null" >
        SERVICE_PROVINCE,
      </if>
      <if test="serviceCity != null" >
        SERVICE_CITY,
      </if>
      <if test="serviceDistrict != null" >
        SERVICE_DISTRICT,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="bankNumber != null" >
        BANK_NUMBER,
      </if>
      <if test="sosLinkMan != null" >
        SOS_LINK_MAN,
      </if>
      <if test="relationship != null" >
        RELATIONSHIP,
      </if>
      <if test="linkPhone != null" >
        LINK_PHONE,
      </if>
      <if test="serviceProvinceDisplay != null" >
        SERVICE_PROVINCE_DISPLAY,
      </if>
      <if test="serviceCityDisplay != null" >
        SERVICE_CITY_DISPLAY,
      </if>
      <if test="serviceDistrictDisplay != null" >
        SERVICE_DISTRICT_DISPLAY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="reason != null" >
        REASON,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="chat != null" >
        CHAT,
      </if>
      <if test="haveCar != null" >
        HAVE_CAR,
      </if>
      <if test="haveTeam != null" >
        HAVE_TEAM,
      </if>
      <if test="teamNum != null" >
        TEAM_NUM,
      </if>
      <if test="haveTools != null" >
        HAVE_TOOLS,
      </if>
      <if test="havaInsurance != null" >
        HAVA_INSURANCE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="auditUserId != null" >
        AUDIT_USER_ID,
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME,
      </if>
      <if test="imageUrl1 != null" >
        IMAGE_URL1,
      </if>
      <if test="auditUser != null" >
        AUDIT_USER,
      </if>
      <if test="imageUrl2 != null" >
        IMAGE_URL2,
      </if>
      <if test="imageUrl3 != null" >
        IMAGE_URL3,
      </if>
      <if test="referee != null" >
        REFEREE,
      </if>
      <if test="refereePhone != null" >
        REFEREE_PHONE,
      </if>
      <if test="masterNo != null" >
        MASTER_NO,
      </if>
      <if test="carType != null" >
        CAR_TYPE,
      </if>
      <if test="masterFrom != null" >
        MASTER_FROM,
      </if>
      <if test="branch != null" >
        BRANCH,
      </if>
      <if test="certificationStatus != null" >
        CERTIFICATION_STATUS,
      </if>
      <if test="workSkill != null" >
        WORK_SKILL,
      </if>
      <if test="masterType != null" >
        MASTER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="platFormId != null" >
        #{platFormId,jdbcType=DECIMAL},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="platFormName != null" >
        #{platFormName,jdbcType=VARCHAR},
      </if>
      <if test="skillName != null" >
        #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="organizeId != null" >
        #{organizeId,jdbcType=VARCHAR},
      </if>
      <if test="organizeName != null" >
        #{organizeName,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="workTypeDisplay != null" >
        #{workTypeDisplay,jdbcType=VARCHAR},
      </if>
      <if test="serviceProvince != null" >
        #{serviceProvince,jdbcType=VARCHAR},
      </if>
      <if test="serviceCity != null" >
        #{serviceCity,jdbcType=VARCHAR},
      </if>
      <if test="serviceDistrict != null" >
        #{serviceDistrict,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankNumber != null" >
        #{bankNumber,jdbcType=VARCHAR},
      </if>
      <if test="sosLinkMan != null" >
        #{sosLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null" >
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="serviceProvinceDisplay != null" >
        #{serviceProvinceDisplay,jdbcType=VARCHAR},
      </if>
      <if test="serviceCityDisplay != null" >
        #{serviceCityDisplay,jdbcType=VARCHAR},
      </if>
      <if test="serviceDistrictDisplay != null" >
        #{serviceDistrictDisplay,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="chat != null" >
        #{chat,jdbcType=VARCHAR},
      </if>
      <if test="haveCar != null" >
        #{haveCar,jdbcType=VARCHAR},
      </if>
      <if test="haveTeam != null" >
        #{haveTeam,jdbcType=VARCHAR},
      </if>
      <if test="teamNum != null" >
        #{teamNum,jdbcType=DECIMAL},
      </if>
      <if test="haveTools != null" >
        #{haveTools,jdbcType=VARCHAR},
      </if>
      <if test="havaInsurance != null" >
        #{havaInsurance,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null" >
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=DATE},
      </if>
      <if test="imageUrl1 != null" >
        #{imageUrl1,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl2 != null" >
        #{imageUrl2,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl3 != null" >
        #{imageUrl3,jdbcType=VARCHAR},
      </if>
      <if test="referee != null" >
        #{referee,jdbcType=VARCHAR},
      </if>
      <if test="refereePhone != null" >
        #{refereePhone,jdbcType=VARCHAR},
      </if>
      <if test="masterNo != null" >
        #{masterNo,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="masterFrom != null" >
        #{masterFrom,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="certificationStatus != null" >
        #{certificationStatus,jdbcType=DECIMAL},
      </if>
      <if test="workSkill != null" >
        #{workSkill,jdbcType=VARCHAR},
      </if>
      <if test="masterType != null" >
        #{masterType,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.easyhome.po.TbMasterExample" resultType="java.lang.Integer" >
    select count(*) from TB_MASTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TB_MASTER
    <set >
      <if test="record.fid != null" >
        FID = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.platFormId != null" >
        PLAT_FORM_ID = #{record.platFormId,jdbcType=DECIMAL},
      </if>
      <if test="record.skill != null" >
        SKILL = #{record.skill,jdbcType=VARCHAR},
      </if>
      <if test="record.platFormName != null" >
        PLAT_FORM_NAME = #{record.platFormName,jdbcType=VARCHAR},
      </if>
      <if test="record.skillName != null" >
        SKILL_NAME = #{record.skillName,jdbcType=VARCHAR},
      </if>
      <if test="record.identityCard != null" >
        IDENTITY_CARD = #{record.identityCard,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.organizeId != null" >
        ORGANIZE_ID = #{record.organizeId,jdbcType=VARCHAR},
      </if>
      <if test="record.organizeName != null" >
        ORGANIZE_NAME = #{record.organizeName,jdbcType=VARCHAR},
      </if>
      <if test="record.workType != null" >
        WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      </if>
      <if test="record.workTypeDisplay != null" >
        WORK_TYPE_DISPLAY = #{record.workTypeDisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceProvince != null" >
        SERVICE_PROVINCE = #{record.serviceProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceCity != null" >
        SERVICE_CITY = #{record.serviceCity,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceDistrict != null" >
        SERVICE_DISTRICT = #{record.serviceDistrict,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccount != null" >
        BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankNumber != null" >
        BANK_NUMBER = #{record.bankNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sosLinkMan != null" >
        SOS_LINK_MAN = #{record.sosLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.relationship != null" >
        RELATIONSHIP = #{record.relationship,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPhone != null" >
        LINK_PHONE = #{record.linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceProvinceDisplay != null" >
        SERVICE_PROVINCE_DISPLAY = #{record.serviceProvinceDisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceCityDisplay != null" >
        SERVICE_CITY_DISPLAY = #{record.serviceCityDisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceDistrictDisplay != null" >
        SERVICE_DISTRICT_DISPLAY = #{record.serviceDistrictDisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.reason != null" >
        REASON = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.age != null" >
        AGE = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.chat != null" >
        CHAT = #{record.chat,jdbcType=VARCHAR},
      </if>
      <if test="record.haveCar != null" >
        HAVE_CAR = #{record.haveCar,jdbcType=VARCHAR},
      </if>
      <if test="record.haveTeam != null" >
        HAVE_TEAM = #{record.haveTeam,jdbcType=VARCHAR},
      </if>
      <if test="record.teamNum != null" >
        TEAM_NUM = #{record.teamNum,jdbcType=DECIMAL},
      </if>
      <if test="record.haveTools != null" >
        HAVE_TOOLS = #{record.haveTools,jdbcType=VARCHAR},
      </if>
      <if test="record.havaInsurance != null" >
        HAVA_INSURANCE = #{record.havaInsurance,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserId != null" >
        AUDIT_USER_ID = #{record.auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null" >
        AUDIT_TIME = #{record.auditTime,jdbcType=DATE},
      </if>
      <if test="record.imageUrl1 != null" >
        IMAGE_URL1 = #{record.imageUrl1,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUser != null" >
        AUDIT_USER = #{record.auditUser,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl2 != null" >
        IMAGE_URL2 = #{record.imageUrl2,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl3 != null" >
        IMAGE_URL3 = #{record.imageUrl3,jdbcType=VARCHAR},
      </if>
      <if test="record.referee != null" >
        REFEREE = #{record.referee,jdbcType=VARCHAR},
      </if>
      <if test="record.refereePhone != null" >
        REFEREE_PHONE = #{record.refereePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.masterNo != null" >
        MASTER_NO = #{record.masterNo,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null" >
        CAR_TYPE = #{record.carType,jdbcType=VARCHAR},
      </if>
      <if test="record.masterFrom != null" >
        MASTER_FROM = #{record.masterFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.branch != null" >
        BRANCH = #{record.branch,jdbcType=VARCHAR},
      </if>
      <if test="record.certificationStatus != null" >
        CERTIFICATION_STATUS = #{record.certificationStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.workSkill != null" >
        WORK_SKILL = #{record.workSkill,jdbcType=VARCHAR},
      </if>
      <if test="record.masterType != null" >
        MASTER_TYPE = #{record.masterType,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TB_MASTER
    set FID = #{record.fid,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      PLAT_FORM_ID = #{record.platFormId,jdbcType=DECIMAL},
      SKILL = #{record.skill,jdbcType=VARCHAR},
      PLAT_FORM_NAME = #{record.platFormName,jdbcType=VARCHAR},
      SKILL_NAME = #{record.skillName,jdbcType=VARCHAR},
      IDENTITY_CARD = #{record.identityCard,jdbcType=VARCHAR},
      CITY = #{record.city,jdbcType=VARCHAR},
      ORGANIZE_ID = #{record.organizeId,jdbcType=VARCHAR},
      ORGANIZE_NAME = #{record.organizeName,jdbcType=VARCHAR},
      WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      WORK_TYPE_DISPLAY = #{record.workTypeDisplay,jdbcType=VARCHAR},
      SERVICE_PROVINCE = #{record.serviceProvince,jdbcType=VARCHAR},
      SERVICE_CITY = #{record.serviceCity,jdbcType=VARCHAR},
      SERVICE_DISTRICT = #{record.serviceDistrict,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      BANK_NUMBER = #{record.bankNumber,jdbcType=VARCHAR},
      SOS_LINK_MAN = #{record.sosLinkMan,jdbcType=VARCHAR},
      RELATIONSHIP = #{record.relationship,jdbcType=VARCHAR},
      LINK_PHONE = #{record.linkPhone,jdbcType=VARCHAR},
      SERVICE_PROVINCE_DISPLAY = #{record.serviceProvinceDisplay,jdbcType=VARCHAR},
      SERVICE_CITY_DISPLAY = #{record.serviceCityDisplay,jdbcType=VARCHAR},
      SERVICE_DISTRICT_DISPLAY = #{record.serviceDistrictDisplay,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      REASON = #{record.reason,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      AGE = #{record.age,jdbcType=VARCHAR},
      CHAT = #{record.chat,jdbcType=VARCHAR},
      HAVE_CAR = #{record.haveCar,jdbcType=VARCHAR},
      HAVE_TEAM = #{record.haveTeam,jdbcType=VARCHAR},
      TEAM_NUM = #{record.teamNum,jdbcType=DECIMAL},
      HAVE_TOOLS = #{record.haveTools,jdbcType=VARCHAR},
      HAVA_INSURANCE = #{record.havaInsurance,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      AUDIT_USER_ID = #{record.auditUserId,jdbcType=VARCHAR},
      AUDIT_TIME = #{record.auditTime,jdbcType=DATE},
      IMAGE_URL1 = #{record.imageUrl1,jdbcType=VARCHAR},
      AUDIT_USER = #{record.auditUser,jdbcType=VARCHAR},
      IMAGE_URL2 = #{record.imageUrl2,jdbcType=VARCHAR},
      IMAGE_URL3 = #{record.imageUrl3,jdbcType=VARCHAR},
      REFEREE = #{record.referee,jdbcType=VARCHAR},
      REFEREE_PHONE = #{record.refereePhone,jdbcType=VARCHAR},
      MASTER_NO = #{record.masterNo,jdbcType=VARCHAR},
      CAR_TYPE = #{record.carType,jdbcType=VARCHAR},
      MASTER_FROM = #{record.masterFrom,jdbcType=VARCHAR},
      BRANCH = #{record.branch,jdbcType=VARCHAR},
      CERTIFICATION_STATUS = #{record.certificationStatus,jdbcType=DECIMAL},
      WORK_SKILL = #{record.workSkill,jdbcType=VARCHAR},
      MASTER_TYPE = #{record.masterType,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>