<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyhome.dao.TbOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.easyhome.po.TbOrderDetail" >
    <result column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="ORDER_SN" property="orderSn" jdbcType="DECIMAL" />
    <result column="LINE_NO" property="lineNo" jdbcType="DECIMAL" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL" />
    <result column="OUT_PRODUCT_SN" property="outProductSn" jdbcType="VARCHAR" />
    <result column="PRODUCT_SN" property="productSn" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="PRODUCT_PRICE" property="productPrice" jdbcType="DECIMAL" />
    <result column="SALES_PRICE" property="salesPrice" jdbcType="DECIMAL" />
    <result column="PRODUCT_QUANTITY" property="productQuantity" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FID, ORDER_ID, ORDER_SN, LINE_NO, ORDER_TYPE, ORG_ID, PRODUCT_ID, OUT_PRODUCT_SN, 
    PRODUCT_SN, PRODUCT_NAME, PRODUCT_PRICE, SALES_PRICE, PRODUCT_QUANTITY, AMOUNT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.easyhome.po.TbOrderDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_ORDER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.easyhome.po.TbOrderDetailExample" >
    delete from TB_ORDER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.easyhome.po.TbOrderDetail" >
    insert into TB_ORDER_DETAIL (FID, ORDER_ID, ORDER_SN, 
      LINE_NO, ORDER_TYPE, ORG_ID, 
      PRODUCT_ID, OUT_PRODUCT_SN, PRODUCT_SN, 
      PRODUCT_NAME, PRODUCT_PRICE, SALES_PRICE, 
      PRODUCT_QUANTITY, AMOUNT)
    values (#{fid,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{orderSn,jdbcType=DECIMAL}, 
      #{lineNo,jdbcType=DECIMAL}, #{orderType,jdbcType=VARCHAR}, #{orgId,jdbcType=DECIMAL}, 
      #{productId,jdbcType=DECIMAL}, #{outProductSn,jdbcType=VARCHAR}, #{productSn,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{salesPrice,jdbcType=DECIMAL}, 
      #{productQuantity,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.easyhome.po.TbOrderDetail" >
    insert into TB_ORDER_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="orderSn != null" >
        ORDER_SN,
      </if>
      <if test="lineNo != null" >
        LINE_NO,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="outProductSn != null" >
        OUT_PRODUCT_SN,
      </if>
      <if test="productSn != null" >
        PRODUCT_SN,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE,
      </if>
      <if test="salesPrice != null" >
        SALES_PRICE,
      </if>
      <if test="productQuantity != null" >
        PRODUCT_QUANTITY,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=DECIMAL},
      </if>
      <if test="lineNo != null" >
        #{lineNo,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="outProductSn != null" >
        #{outProductSn,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null" >
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesPrice != null" >
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="productQuantity != null" >
        #{productQuantity,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.easyhome.po.TbOrderDetailExample" resultType="java.lang.Integer" >
    select count(*) from TB_ORDER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TB_ORDER_DETAIL
    <set >
      <if test="record.fid != null" >
        FID = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSn != null" >
        ORDER_SN = #{record.orderSn,jdbcType=DECIMAL},
      </if>
      <if test="record.lineNo != null" >
        LINE_NO = #{record.lineNo,jdbcType=DECIMAL},
      </if>
      <if test="record.orderType != null" >
        ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=DECIMAL},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      </if>
      <if test="record.outProductSn != null" >
        OUT_PRODUCT_SN = #{record.outProductSn,jdbcType=VARCHAR},
      </if>
      <if test="record.productSn != null" >
        PRODUCT_SN = #{record.productSn,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null" >
        PRODUCT_PRICE = #{record.productPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.salesPrice != null" >
        SALES_PRICE = #{record.salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.productQuantity != null" >
        PRODUCT_QUANTITY = #{record.productQuantity,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null" >
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TB_ORDER_DETAIL
    set FID = #{record.fid,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      ORDER_SN = #{record.orderSn,jdbcType=DECIMAL},
      LINE_NO = #{record.lineNo,jdbcType=DECIMAL},
      ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      ORG_ID = #{record.orgId,jdbcType=DECIMAL},
      PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      OUT_PRODUCT_SN = #{record.outProductSn,jdbcType=VARCHAR},
      PRODUCT_SN = #{record.productSn,jdbcType=VARCHAR},
      PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      PRODUCT_PRICE = #{record.productPrice,jdbcType=DECIMAL},
      SALES_PRICE = #{record.salesPrice,jdbcType=DECIMAL},
      PRODUCT_QUANTITY = #{record.productQuantity,jdbcType=DECIMAL},
      AMOUNT = #{record.amount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>