<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyhome.dao.TbWorkOrderBackupDao">
	<resultMap id="tbWorkOrderBackup" type="com.easyhome.po.TbWorkOrderBackup">
	<result column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="WORK_NO" property="workNo" jdbcType="VARCHAR" />
    <result column="SEND_DATE" property="sendDate" jdbcType="DATE" />
    <result column="SENDER" property="sender" jdbcType="VARCHAR" />
    <result column="PLAT_FORM_ID" property="platFormId" jdbcType="VARCHAR" />
    <result column="PLAT_FORM_NAME" property="platFormName" jdbcType="VARCHAR" />
    <result column="FRANCHISEE_ID" property="franchiseeId" jdbcType="VARCHAR" />
    <result column="MASTER_ID" property="masterId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="GIVE_REASONS" property="giveReasons" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="SINGER" property="singer" jdbcType="VARCHAR" />
    <result column="SING_TIME" property="singTime" jdbcType="DATE" />
    <result column="SERVICE_MAN" property="serviceMan" jdbcType="VARCHAR" />
    <result column="SERVICE_FEEDBACK" property="serviceFeedback" jdbcType="VARCHAR" />
    <result column="CUS_NAME" property="cusName" jdbcType="VARCHAR" />
    <result column="CUS_ADDRESS" property="cusAddress" jdbcType="VARCHAR" />
    <result column="CUS_TEL" property="cusTel" jdbcType="VARCHAR" />
    <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR" />
    <result column="SERVICE_MAN_ID" property="serviceManId" jdbcType="VARCHAR" />
    <result column="ORDER_SN" property="orderSn" jdbcType="DECIMAL" />
    <result column="MASTER_NAME" property="masterName" jdbcType="VARCHAR" />
    <result column="STATUS_DISPLAY" property="statusDisplay" jdbcType="VARCHAR" />
    <result column="FEEDBACK_CONTENT" property="feedbackContent" jdbcType="VARCHAR" />
    <result column="INSTALL_LINK_PHONE" property="installLinkPhone" jdbcType="VARCHAR" />
    <result column="INSTALL_LINK_MAN" property="installLinkMan" jdbcType="VARCHAR" />
    <result column="FEEDBACK_TIME" property="feedbackTime" jdbcType="DATE" />
    <result column="FEEDBACK_MAN" property="feedbackMan" jdbcType="VARCHAR" />
    <result column="INSTALL_LINK_ADDRESS" property="installLinkAddress" jdbcType="VARCHAR" />
    <result column="EVAL_SCORE" property="evalScore" jdbcType="DECIMAL" />
    <result column="CUSTOMER_EVAL" property="customerEval" jdbcType="VARCHAR" />
    <result column="IS_CUS_CONFIRM" property="isCusConfirm" jdbcType="DECIMAL" />
    <result column="REPORT_MAN" property="reportMan" jdbcType="VARCHAR" />
    <result column="COMPLETE_DATE" property="completeDate" jdbcType="DATE" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="BILL_DATE" property="billDate" jdbcType="DATE" />
    <result column="MASTER_PHONE" property="masterPhone" jdbcType="VARCHAR" />
    <result column="WORK_ORDER_MASTER_ID" property="workOrderMasterId" jdbcType="VARCHAR" />
    <result column="BOOKING_TIME" property="bookingTime" jdbcType="DATE" />
    <result column="DISPATCH_SN" property="dispatchSn" jdbcType="VARCHAR" />
    <result column="DISPATCH_MEMO" property="dispatchMemo" jdbcType="VARCHAR" />
    <result column="MEMO2" property="memo2" jdbcType="VARCHAR" />
    <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR" />
    <result column="WAREHOUSE_NAME" property="warehouseName" jdbcType="VARCHAR" />
    <result column="FEEDBACK_VALIDITY" property="feedbackValidity" jdbcType="VARCHAR" />
    <result column="IS_FEE" property="isFee" jdbcType="VARCHAR" />
    <result column="CUSTOMER_EVAL_SCORE" property="customerEvalScore" jdbcType="DECIMAL" />
    <result column="FEEDBACK_REMARK" property="feedbackRemark" jdbcType="VARCHAR" />
    <result column="SATISFACTION1" property="satisfaction1" jdbcType="DECIMAL" />
    <result column="SATISFACTION2" property="satisfaction2" jdbcType="DECIMAL" />
    <result column="SATISFACTION3" property="satisfaction3" jdbcType="DECIMAL" />
    <result column="CHECK_CODE" property="checkCode" jdbcType="VARCHAR" />
    <result column="OUT_ORDER_SN" property="outOrderSn" jdbcType="VARCHAR" />
    <result column="FEEDBACK_STATUS" property="feedbackStatus" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS" property="auditStatus" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_TMALL_ORDER" property="isTmallOrder" jdbcType="DECIMAL" />
    <result column="OMS_DISPATCH_NO" property="omsDispatchNo" jdbcType="VARCHAR" />
    <result column="EVAL_SERVICE_COMPLETE" property="evalServiceComplete" jdbcType="DECIMAL" />
    <result column="EVAL_DELIVERY" property="evalDelivery" jdbcType="DECIMAL" />
    <result column="EVAL_INSTALL" property="evalInstall" jdbcType="DECIMAL" />
    <result column="EVAL_PHONE_BACK" property="evalPhoneBack" jdbcType="DECIMAL" />
    <result column="VIEW_TIME" property="viewTime" jdbcType="DATE" />
    <result column="DETAIL" property="detail" jdbcType="VARCHAR" />
    <result property="itemCount" column="item_count" />
    <result column="REVOKE_CAUSE" property="revokeCause" jdbcType="VARCHAR" />
    <result column="REVOKE_TIME" property="revokeTime" jdbcType="DATE" />
    <result column="REVOKE_NAME" property="revokeName" jdbcType="VARCHAR" />

	</resultMap>
	<!-- 查询被冻结表中工单记录 -->
	<select id="selectByMasterId" resultMap="tbWorkOrderBackup">
			select *
		from(select tt.*,ROWNUM as rn
		from(SELECT t.FID,
					t.ORDER_ID,
					t.WORK_NO,
					t.SEND_DATE,
					t.SENDER,
					t.PLAT_FORM_ID,
					t.PLAT_FORM_NAME,
					t.FRANCHISEE_ID,
					t.MASTER_ID,
					t.STATUS,
					t.GIVE_REASONS,
					t.AMOUNT,
					t.SINGER,
					t.SING_TIME,
					t.SERVICE_MAN,
					t.SERVICE_FEEDBACK,
					t.CUS_NAME,
					t.CUS_ADDRESS,
					t.CUS_TEL,
					t.SENDER_ID,
					t.SERVICE_MAN_ID,
					t.ORDER_SN,
					t.MASTER_NAME,
					t.STATUS_DISPLAY,
					t.FEEDBACK_CONTENT,
					t.INSTALL_LINK_PHONE,
					t.INSTALL_LINK_MAN,
					t.FEEDBACK_TIME,
					t.FEEDBACK_MAN,
					t.INSTALL_LINK_ADDRESS,
					t.EVAL_SCORE,
					t.CUSTOMER_EVAL,
					t.IS_CUS_CONFIRM,
					t.REPORT_MAN,
					t.COMPLETE_DATE,
					t.TYPE,
					t.BILL_DATE,
					t.MASTER_PHONE,
					t.WORK_ORDER_MASTER_ID,
					t.BOOKING_TIME,
					t.DISPATCH_SN,
					t.DISPATCH_MEMO,
					t.MEMO2,
					t.STORE_NAME,
					t.WAREHOUSE_NAME,
					t.FEEDBACK_VALIDITY,
					t.IS_FEE,
					t.CUSTOMER_EVAL_SCORE,
					t.FEEDBACK_REMARK,
					t.SATISFACTION1,
					t.SATISFACTION2,
					t.SATISFACTION3,
					t.CHECK_CODE,
					t.OUT_ORDER_SN,
					t.FEEDBACK_STATUS,
					t.AUDIT_STATUS,
					t.REMARK,
					t.IS_TMALL_ORDER,
					t.OMS_DISPATCH_NO,
					t.EVAL_SERVICE_COMPLETE,
					t.EVAL_DELIVERY,
					t.EVAL_INSTALL,
					t.EVAL_PHONE_BACK,
					t.VIEW_TIME,
					t.DETAIL,
					t.REVOKE_CAUSE,
					t.REVOKE_TIME,
					t.REVOKE_NAME,	
		(select count(1) from tb_work_order_item i
		where i.work_order_id = t.fid) item_count
		FROM tb_work_order_backup t
		WHERE t.master_id=#{masterId}
		order by t.send_date desc) tt
		 where <![CDATA[ROWNUM <= #{rowEnd}]]>) ttt
	 where <![CDATA[ttt.rn >= #{rowStart}]]>
	</select>
</mapper>