<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyhome.dao.TbWorkOrderMapper" >
  <resultMap id="BaseResultMap" type="com.easyhome.po.TbWorkOrder" >
    <result column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="WORK_NO" property="workNo" jdbcType="VARCHAR" />
    <result column="SEND_DATE" property="sendDate" jdbcType="DATE" />
    <result column="SENDER" property="sender" jdbcType="VARCHAR" />
    <result column="PLAT_FORM_ID" property="platFormId" jdbcType="VARCHAR" />
    <result column="PLAT_FORM_NAME" property="platFormName" jdbcType="VARCHAR" />
    <result column="FRANCHISEE_ID" property="franchiseeId" jdbcType="VARCHAR" />
    <result column="MASTER_ID" property="masterId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="GIVE_REASONS" property="giveReasons" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="SINGER" property="singer" jdbcType="VARCHAR" />
    <result column="SING_TIME" property="singTime" jdbcType="DATE" />
    <result column="SERVICE_MAN" property="serviceMan" jdbcType="VARCHAR" />
    <result column="SERVICE_FEEDBACK" property="serviceFeedback" jdbcType="VARCHAR" />
    <result column="CUS_NAME" property="cusName" jdbcType="VARCHAR" />
    <result column="CUS_ADDRESS" property="cusAddress" jdbcType="VARCHAR" />
    <result column="CUS_TEL" property="cusTel" jdbcType="VARCHAR" />
    <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR" />
    <result column="SERVICE_MAN_ID" property="serviceManId" jdbcType="VARCHAR" />
    <result column="ORDER_SN" property="orderSn" jdbcType="DECIMAL" />
    <result column="MASTER_NAME" property="masterName" jdbcType="VARCHAR" />
    <result column="STATUS_DISPLAY" property="statusDisplay" jdbcType="VARCHAR" />
    <result column="FEEDBACK_CONTENT" property="feedbackContent" jdbcType="VARCHAR" />
    <result column="INSTALL_LINK_PHONE" property="installLinkPhone" jdbcType="VARCHAR" />
    <result column="INSTALL_LINK_MAN" property="installLinkMan" jdbcType="VARCHAR" />
    <result column="FEEDBACK_TIME" property="feedbackTime" jdbcType="DATE" />
    <result column="FEEDBACK_MAN" property="feedbackMan" jdbcType="VARCHAR" />
    <result column="INSTALL_LINK_ADDRESS" property="installLinkAddress" jdbcType="VARCHAR" />
    <result column="EVAL_SCORE" property="evalScore" jdbcType="DECIMAL" />
    <result column="CUSTOMER_EVAL" property="customerEval" jdbcType="VARCHAR" />
    <result column="IS_CUS_CONFIRM" property="isCusConfirm" jdbcType="DECIMAL" />
    <result column="REPORT_MAN" property="reportMan" jdbcType="VARCHAR" />
    <result column="COMPLETE_DATE" property="completeDate" jdbcType="DATE" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="BILL_DATE" property="billDate" jdbcType="DATE" />
    <result column="MASTER_PHONE" property="masterPhone" jdbcType="VARCHAR" />
    <result column="WORK_ORDER_MASTER_ID" property="workOrderMasterId" jdbcType="VARCHAR" />
    <result column="BOOKING_TIME" property="bookingTime" jdbcType="DATE" />
    <result column="DISPATCH_SN" property="dispatchSn" jdbcType="VARCHAR" />
    <result column="DISPATCH_MEMO" property="dispatchMemo" jdbcType="VARCHAR" />
    <result column="MEMO2" property="memo2" jdbcType="VARCHAR" />
    <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR" />
    <result column="WAREHOUSE_NAME" property="warehouseName" jdbcType="VARCHAR" />
    <result column="FEEDBACK_VALIDITY" property="feedbackValidity" jdbcType="VARCHAR" />
    <result column="IS_FEE" property="isFee" jdbcType="VARCHAR" />
    <result column="CUSTOMER_EVAL_SCORE" property="customerEvalScore" jdbcType="DECIMAL" />
    <result column="FEEDBACK_REMARK" property="feedbackRemark" jdbcType="VARCHAR" />
    <result column="SATISFACTION1" property="satisfaction1" jdbcType="DECIMAL" />
    <result column="SATISFACTION2" property="satisfaction2" jdbcType="DECIMAL" />
    <result column="SATISFACTION3" property="satisfaction3" jdbcType="DECIMAL" />
    <result column="CHECK_CODE" property="checkCode" jdbcType="VARCHAR" />
    <result column="OUT_ORDER_SN" property="outOrderSn" jdbcType="VARCHAR" />
    <result column="FEEDBACK_STATUS" property="feedbackStatus" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS" property="auditStatus" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_TMALL_ORDER" property="isTmallOrder" jdbcType="DECIMAL" />
    <result column="OMS_DISPATCH_NO" property="omsDispatchNo" jdbcType="VARCHAR" />
    <result column="EVAL_SERVICE_COMPLETE" property="evalServiceComplete" jdbcType="DECIMAL" />
    <result column="EVAL_DELIVERY" property="evalDelivery" jdbcType="DECIMAL" />
    <result column="EVAL_INSTALL" property="evalInstall" jdbcType="DECIMAL" />
    <result column="EVAL_PHONE_BACK" property="evalPhoneBack" jdbcType="DECIMAL" />
    <result column="VIEW_TIME" property="viewTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FID, ORDER_ID, WORK_NO, SEND_DATE, SENDER, PLAT_FORM_ID, PLAT_FORM_NAME, FRANCHISEE_ID, 
    MASTER_ID, STATUS, GIVE_REASONS, AMOUNT, SINGER, SING_TIME, SERVICE_MAN, SERVICE_FEEDBACK, 
    CUS_NAME, CUS_ADDRESS, CUS_TEL, SENDER_ID, SERVICE_MAN_ID, ORDER_SN, MASTER_NAME, 
    STATUS_DISPLAY, FEEDBACK_CONTENT, INSTALL_LINK_PHONE, INSTALL_LINK_MAN, FEEDBACK_TIME, 
    FEEDBACK_MAN, INSTALL_LINK_ADDRESS, EVAL_SCORE, CUSTOMER_EVAL, IS_CUS_CONFIRM, REPORT_MAN, 
    COMPLETE_DATE, TYPE, BILL_DATE, MASTER_PHONE, WORK_ORDER_MASTER_ID, BOOKING_TIME, 
    DISPATCH_SN, DISPATCH_MEMO, MEMO2, STORE_NAME, WAREHOUSE_NAME, FEEDBACK_VALIDITY, 
    IS_FEE, CUSTOMER_EVAL_SCORE, FEEDBACK_REMARK, SATISFACTION1, SATISFACTION2, SATISFACTION3, 
    CHECK_CODE, OUT_ORDER_SN, FEEDBACK_STATUS, AUDIT_STATUS, REMARK, IS_TMALL_ORDER, 
    OMS_DISPATCH_NO, EVAL_SERVICE_COMPLETE, EVAL_DELIVERY, EVAL_INSTALL, EVAL_PHONE_BACK, 
    VIEW_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.easyhome.po.TbWorkOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.easyhome.po.TbWorkOrderExample" >
    delete from TB_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.easyhome.po.TbWorkOrder" >
    insert into TB_WORK_ORDER (FID, ORDER_ID, WORK_NO, 
      SEND_DATE, SENDER, PLAT_FORM_ID, 
      PLAT_FORM_NAME, FRANCHISEE_ID, MASTER_ID, 
      STATUS, GIVE_REASONS, AMOUNT, 
      SINGER, SING_TIME, SERVICE_MAN, 
      SERVICE_FEEDBACK, CUS_NAME, CUS_ADDRESS, 
      CUS_TEL, SENDER_ID, SERVICE_MAN_ID, 
      ORDER_SN, MASTER_NAME, STATUS_DISPLAY, 
      FEEDBACK_CONTENT, INSTALL_LINK_PHONE, INSTALL_LINK_MAN, 
      FEEDBACK_TIME, FEEDBACK_MAN, INSTALL_LINK_ADDRESS, 
      EVAL_SCORE, CUSTOMER_EVAL, IS_CUS_CONFIRM, 
      REPORT_MAN, COMPLETE_DATE, TYPE, 
      BILL_DATE, MASTER_PHONE, WORK_ORDER_MASTER_ID, 
      BOOKING_TIME, DISPATCH_SN, DISPATCH_MEMO, 
      MEMO2, STORE_NAME, WAREHOUSE_NAME, 
      FEEDBACK_VALIDITY, IS_FEE, CUSTOMER_EVAL_SCORE, 
      FEEDBACK_REMARK, SATISFACTION1, SATISFACTION2, 
      SATISFACTION3, CHECK_CODE, OUT_ORDER_SN, 
      FEEDBACK_STATUS, AUDIT_STATUS, REMARK, 
      IS_TMALL_ORDER, OMS_DISPATCH_NO, EVAL_SERVICE_COMPLETE, 
      EVAL_DELIVERY, EVAL_INSTALL, EVAL_PHONE_BACK, 
      VIEW_TIME)
    values (#{fid,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR}, 
      #{sendDate}, #{sender,jdbcType=VARCHAR}, #{platFormId,jdbcType=VARCHAR}, 
      #{platFormName,jdbcType=VARCHAR}, #{franchiseeId,jdbcType=VARCHAR}, #{masterId,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{giveReasons,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{singer,jdbcType=VARCHAR}, #{singTime}, #{serviceMan,jdbcType=VARCHAR}, 
      #{serviceFeedback,jdbcType=VARCHAR}, #{cusName,jdbcType=VARCHAR}, #{cusAddress,jdbcType=VARCHAR}, 
      #{cusTel,jdbcType=VARCHAR}, #{senderId,jdbcType=VARCHAR}, #{serviceManId,jdbcType=VARCHAR}, 
      #{orderSn,jdbcType=DECIMAL}, #{masterName,jdbcType=VARCHAR}, #{statusDisplay,jdbcType=VARCHAR}, 
      #{feedbackContent,jdbcType=VARCHAR}, #{installLinkPhone,jdbcType=VARCHAR}, #{installLinkMan,jdbcType=VARCHAR}, 
      #{feedbackTime}, #{feedbackMan,jdbcType=VARCHAR}, #{installLinkAddress,jdbcType=VARCHAR}, 
      #{evalScore,jdbcType=DECIMAL}, #{customerEval,jdbcType=VARCHAR}, #{isCusConfirm,jdbcType=DECIMAL}, 
      #{reportMan,jdbcType=VARCHAR}, #{completeDate}, #{type,jdbcType=VARCHAR}, 
      #{billDate}, #{masterPhone,jdbcType=VARCHAR}, #{workOrderMasterId,jdbcType=VARCHAR}, 
      #{bookingTime}, #{dispatchSn,jdbcType=VARCHAR}, #{dispatchMemo,jdbcType=VARCHAR}, 
      #{memo2,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, 
      #{feedbackValidity,jdbcType=VARCHAR}, #{isFee,jdbcType=VARCHAR}, #{customerEvalScore,jdbcType=DECIMAL}, 
      #{feedbackRemark,jdbcType=VARCHAR}, #{satisfaction1,jdbcType=DECIMAL}, #{satisfaction2,jdbcType=DECIMAL}, 
      #{satisfaction3,jdbcType=DECIMAL}, #{checkCode,jdbcType=VARCHAR}, #{outOrderSn,jdbcType=VARCHAR}, 
      #{feedbackStatus,jdbcType=VARCHAR}, #{auditStatus,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{isTmallOrder,jdbcType=DECIMAL}, #{omsDispatchNo,jdbcType=VARCHAR}, #{evalServiceComplete,jdbcType=DECIMAL}, 
      #{evalDelivery,jdbcType=DECIMAL}, #{evalInstall,jdbcType=DECIMAL}, #{evalPhoneBack,jdbcType=DECIMAL}, 
      #{viewTime})
  </insert>
  <insert id="insertSelective" parameterType="com.easyhome.po.TbWorkOrder" >
    insert into TB_WORK_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="workNo != null" >
        WORK_NO,
      </if>
      <if test="sendDate != null" >
        SEND_DATE,
      </if>
      <if test="sender != null" >
        SENDER,
      </if>
      <if test="platFormId != null" >
        PLAT_FORM_ID,
      </if>
      <if test="platFormName != null" >
        PLAT_FORM_NAME,
      </if>
      <if test="franchiseeId != null" >
        FRANCHISEE_ID,
      </if>
      <if test="masterId != null" >
        MASTER_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="giveReasons != null" >
        GIVE_REASONS,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="singer != null" >
        SINGER,
      </if>
      <if test="singTime != null" >
        SING_TIME,
      </if>
      <if test="serviceMan != null" >
        SERVICE_MAN,
      </if>
      <if test="serviceFeedback != null" >
        SERVICE_FEEDBACK,
      </if>
      <if test="cusName != null" >
        CUS_NAME,
      </if>
      <if test="cusAddress != null" >
        CUS_ADDRESS,
      </if>
      <if test="cusTel != null" >
        CUS_TEL,
      </if>
      <if test="senderId != null" >
        SENDER_ID,
      </if>
      <if test="serviceManId != null" >
        SERVICE_MAN_ID,
      </if>
      <if test="orderSn != null" >
        ORDER_SN,
      </if>
      <if test="masterName != null" >
        MASTER_NAME,
      </if>
      <if test="statusDisplay != null" >
        STATUS_DISPLAY,
      </if>
      <if test="feedbackContent != null" >
        FEEDBACK_CONTENT,
      </if>
      <if test="installLinkPhone != null" >
        INSTALL_LINK_PHONE,
      </if>
      <if test="installLinkMan != null" >
        INSTALL_LINK_MAN,
      </if>
      <if test="feedbackTime != null" >
        FEEDBACK_TIME,
      </if>
      <if test="feedbackMan != null" >
        FEEDBACK_MAN,
      </if>
      <if test="installLinkAddress != null" >
        INSTALL_LINK_ADDRESS,
      </if>
      <if test="evalScore != null" >
        EVAL_SCORE,
      </if>
      <if test="customerEval != null" >
        CUSTOMER_EVAL,
      </if>
      <if test="isCusConfirm != null" >
        IS_CUS_CONFIRM,
      </if>
      <if test="reportMan != null" >
        REPORT_MAN,
      </if>
      <if test="completeDate != null" >
        COMPLETE_DATE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="billDate != null" >
        BILL_DATE,
      </if>
      <if test="masterPhone != null" >
        MASTER_PHONE,
      </if>
      <if test="workOrderMasterId != null" >
        WORK_ORDER_MASTER_ID,
      </if>
      <if test="bookingTime != null" >
        BOOKING_TIME,
      </if>
      <if test="dispatchSn != null" >
        DISPATCH_SN,
      </if>
      <if test="dispatchMemo != null" >
        DISPATCH_MEMO,
      </if>
      <if test="memo2 != null" >
        MEMO2,
      </if>
      <if test="storeName != null" >
        STORE_NAME,
      </if>
      <if test="warehouseName != null" >
        WAREHOUSE_NAME,
      </if>
      <if test="feedbackValidity != null" >
        FEEDBACK_VALIDITY,
      </if>
      <if test="isFee != null" >
        IS_FEE,
      </if>
      <if test="customerEvalScore != null" >
        CUSTOMER_EVAL_SCORE,
      </if>
      <if test="feedbackRemark != null" >
        FEEDBACK_REMARK,
      </if>
      <if test="satisfaction1 != null" >
        SATISFACTION1,
      </if>
      <if test="satisfaction2 != null" >
        SATISFACTION2,
      </if>
      <if test="satisfaction3 != null" >
        SATISFACTION3,
      </if>
      <if test="checkCode != null" >
        CHECK_CODE,
      </if>
      <if test="outOrderSn != null" >
        OUT_ORDER_SN,
      </if>
      <if test="feedbackStatus != null" >
        FEEDBACK_STATUS,
      </if>
      <if test="auditStatus != null" >
        AUDIT_STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isTmallOrder != null" >
        IS_TMALL_ORDER,
      </if>
      <if test="omsDispatchNo != null" >
        OMS_DISPATCH_NO,
      </if>
      <if test="evalServiceComplete != null" >
        EVAL_SERVICE_COMPLETE,
      </if>
      <if test="evalDelivery != null" >
        EVAL_DELIVERY,
      </if>
      <if test="evalInstall != null" >
        EVAL_INSTALL,
      </if>
      <if test="evalPhoneBack != null" >
        EVAL_PHONE_BACK,
      </if>
      <if test="viewTime != null" >
        VIEW_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="platFormId != null" >
        #{platFormId,jdbcType=VARCHAR},
      </if>
      <if test="platFormName != null" >
        #{platFormName,jdbcType=VARCHAR},
      </if>
      <if test="franchiseeId != null" >
        #{franchiseeId,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="giveReasons != null" >
        #{giveReasons,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="singer != null" >
        #{singer,jdbcType=VARCHAR},
      </if>
      <if test="singTime != null" >
        #{singTime},
      </if>
      <if test="serviceMan != null" >
        #{serviceMan,jdbcType=VARCHAR},
      </if>
      <if test="serviceFeedback != null" >
        #{serviceFeedback,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null" >
        #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="cusAddress != null" >
        #{cusAddress,jdbcType=VARCHAR},
      </if>
      <if test="cusTel != null" >
        #{cusTel,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null" >
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="serviceManId != null" >
        #{serviceManId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=DECIMAL},
      </if>
      <if test="masterName != null" >
        #{masterName,jdbcType=VARCHAR},
      </if>
      <if test="statusDisplay != null" >
        #{statusDisplay,jdbcType=VARCHAR},
      </if>
      <if test="feedbackContent != null" >
        #{feedbackContent,jdbcType=VARCHAR},
      </if>
      <if test="installLinkPhone != null" >
        #{installLinkPhone,jdbcType=VARCHAR},
      </if>
      <if test="installLinkMan != null" >
        #{installLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="feedbackTime != null" >
        #{feedbackTime},
      </if>
      <if test="feedbackMan != null" >
        #{feedbackMan,jdbcType=VARCHAR},
      </if>
      <if test="installLinkAddress != null" >
        #{installLinkAddress,jdbcType=VARCHAR},
      </if>
      <if test="evalScore != null" >
        #{evalScore,jdbcType=DECIMAL},
      </if>
      <if test="customerEval != null" >
        #{customerEval,jdbcType=VARCHAR},
      </if>
      <if test="isCusConfirm != null" >
        #{isCusConfirm,jdbcType=DECIMAL},
      </if>
      <if test="reportMan != null" >
        #{reportMan,jdbcType=VARCHAR},
      </if>
      <if test="completeDate != null" >
        #{completeDate},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null" >
        #{billDate},
      </if>
      <if test="masterPhone != null" >
        #{masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="workOrderMasterId != null" >
        #{workOrderMasterId,jdbcType=VARCHAR},
      </if>
      <if test="bookingTime != null" >
        #{bookingTime},
      </if>
      <if test="dispatchSn != null" >
        #{dispatchSn,jdbcType=VARCHAR},
      </if>
      <if test="dispatchMemo != null" >
        #{dispatchMemo,jdbcType=VARCHAR},
      </if>
      <if test="memo2 != null" >
        #{memo2,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="feedbackValidity != null" >
        #{feedbackValidity,jdbcType=VARCHAR},
      </if>
      <if test="isFee != null" >
        #{isFee,jdbcType=VARCHAR},
      </if>
      <if test="customerEvalScore != null" >
        #{customerEvalScore,jdbcType=DECIMAL},
      </if>
      <if test="feedbackRemark != null" >
        #{feedbackRemark,jdbcType=VARCHAR},
      </if>
      <if test="satisfaction1 != null" >
        #{satisfaction1,jdbcType=DECIMAL},
      </if>
      <if test="satisfaction2 != null" >
        #{satisfaction2,jdbcType=DECIMAL},
      </if>
      <if test="satisfaction3 != null" >
        #{satisfaction3,jdbcType=DECIMAL},
      </if>
      <if test="checkCode != null" >
        #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="outOrderSn != null" >
        #{outOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="feedbackStatus != null" >
        #{feedbackStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isTmallOrder != null" >
        #{isTmallOrder,jdbcType=DECIMAL},
      </if>
      <if test="omsDispatchNo != null" >
        #{omsDispatchNo,jdbcType=VARCHAR},
      </if>
      <if test="evalServiceComplete != null" >
        #{evalServiceComplete,jdbcType=DECIMAL},
      </if>
      <if test="evalDelivery != null" >
        #{evalDelivery,jdbcType=DECIMAL},
      </if>
      <if test="evalInstall != null" >
        #{evalInstall,jdbcType=DECIMAL},
      </if>
      <if test="evalPhoneBack != null" >
        #{evalPhoneBack,jdbcType=DECIMAL},
      </if>
      <if test="viewTime != null" >
        #{viewTime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.easyhome.po.TbWorkOrderExample" resultType="java.lang.Integer" >
    select count(*) from TB_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TB_WORK_ORDER
    <set >
      <if test="record.fid != null" >
        FID = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.workNo != null" >
        WORK_NO = #{record.workNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sendDate != null" >
        SEND_DATE = #{record.sendDate},
      </if>
      <if test="record.sender != null" >
        SENDER = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.platFormId != null" >
        PLAT_FORM_ID = #{record.platFormId,jdbcType=VARCHAR},
      </if>
      <if test="record.platFormName != null" >
        PLAT_FORM_NAME = #{record.platFormName,jdbcType=VARCHAR},
      </if>
      <if test="record.franchiseeId != null" >
        FRANCHISEE_ID = #{record.franchiseeId,jdbcType=VARCHAR},
      </if>
      <if test="record.masterId != null" >
        MASTER_ID = #{record.masterId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.giveReasons != null" >
        GIVE_REASONS = #{record.giveReasons,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.singer != null" >
        SINGER = #{record.singer,jdbcType=VARCHAR},
      </if>
      <if test="record.singTime != null" >
        SING_TIME = #{record.singTime},
      </if>
      <if test="record.serviceMan != null" >
        SERVICE_MAN = #{record.serviceMan,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceFeedback != null" >
        SERVICE_FEEDBACK = #{record.serviceFeedback,jdbcType=VARCHAR},
      </if>
      <if test="record.cusName != null" >
        CUS_NAME = #{record.cusName,jdbcType=VARCHAR},
      </if>
      <if test="record.cusAddress != null" >
        CUS_ADDRESS = #{record.cusAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cusTel != null" >
        CUS_TEL = #{record.cusTel,jdbcType=VARCHAR},
      </if>
      <if test="record.senderId != null" >
        SENDER_ID = #{record.senderId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceManId != null" >
        SERVICE_MAN_ID = #{record.serviceManId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSn != null" >
        ORDER_SN = #{record.orderSn,jdbcType=DECIMAL},
      </if>
      <if test="record.masterName != null" >
        MASTER_NAME = #{record.masterName,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDisplay != null" >
        STATUS_DISPLAY = #{record.statusDisplay,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackContent != null" >
        FEEDBACK_CONTENT = #{record.feedbackContent,jdbcType=VARCHAR},
      </if>
      <if test="record.installLinkPhone != null" >
        INSTALL_LINK_PHONE = #{record.installLinkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.installLinkMan != null" >
        INSTALL_LINK_MAN = #{record.installLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackTime != null" >
        FEEDBACK_TIME = #{record.feedbackTime},
      </if>
      <if test="record.feedbackMan != null" >
        FEEDBACK_MAN = #{record.feedbackMan,jdbcType=VARCHAR},
      </if>
      <if test="record.installLinkAddress != null" >
        INSTALL_LINK_ADDRESS = #{record.installLinkAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.evalScore != null" >
        EVAL_SCORE = #{record.evalScore,jdbcType=DECIMAL},
      </if>
      <if test="record.customerEval != null" >
        CUSTOMER_EVAL = #{record.customerEval,jdbcType=VARCHAR},
      </if>
      <if test="record.isCusConfirm != null" >
        IS_CUS_CONFIRM = #{record.isCusConfirm,jdbcType=DECIMAL},
      </if>
      <if test="record.reportMan != null" >
        REPORT_MAN = #{record.reportMan,jdbcType=VARCHAR},
      </if>
      <if test="record.completeDate != null" >
        COMPLETE_DATE = #{record.completeDate},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.billDate != null" >
        BILL_DATE = #{record.billDate},
      </if>
      <if test="record.masterPhone != null" >
        MASTER_PHONE = #{record.masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.workOrderMasterId != null" >
        WORK_ORDER_MASTER_ID = #{record.workOrderMasterId,jdbcType=VARCHAR},
      </if>
      <if test="record.bookingTime != null" >
        BOOKING_TIME = #{record.bookingTime},
      </if>
      <if test="record.dispatchSn != null" >
        DISPATCH_SN = #{record.dispatchSn,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchMemo != null" >
        DISPATCH_MEMO = #{record.dispatchMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.memo2 != null" >
        MEMO2 = #{record.memo2,jdbcType=VARCHAR},
      </if>
      <if test="record.storeName != null" >
        STORE_NAME = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseName != null" >
        WAREHOUSE_NAME = #{record.warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackValidity != null" >
        FEEDBACK_VALIDITY = #{record.feedbackValidity,jdbcType=VARCHAR},
      </if>
      <if test="record.isFee != null" >
        IS_FEE = #{record.isFee,jdbcType=VARCHAR},
      </if>
      <if test="record.customerEvalScore != null" >
        CUSTOMER_EVAL_SCORE = #{record.customerEvalScore,jdbcType=DECIMAL},
      </if>
      <if test="record.feedbackRemark != null" >
        FEEDBACK_REMARK = #{record.feedbackRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.satisfaction1 != null" >
        SATISFACTION1 = #{record.satisfaction1,jdbcType=DECIMAL},
      </if>
      <if test="record.satisfaction2 != null" >
        SATISFACTION2 = #{record.satisfaction2,jdbcType=DECIMAL},
      </if>
      <if test="record.satisfaction3 != null" >
        SATISFACTION3 = #{record.satisfaction3,jdbcType=DECIMAL},
      </if>
      <if test="record.checkCode != null" >
        CHECK_CODE = #{record.checkCode,jdbcType=VARCHAR},
      </if>
      <if test="record.outOrderSn != null" >
        OUT_ORDER_SN = #{record.outOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackStatus != null" >
        FEEDBACK_STATUS = #{record.feedbackStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null" >
        AUDIT_STATUS = #{record.auditStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isTmallOrder != null" >
        IS_TMALL_ORDER = #{record.isTmallOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.omsDispatchNo != null" >
        OMS_DISPATCH_NO = #{record.omsDispatchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.evalServiceComplete != null" >
        EVAL_SERVICE_COMPLETE = #{record.evalServiceComplete,jdbcType=DECIMAL},
      </if>
      <if test="record.evalDelivery != null" >
        EVAL_DELIVERY = #{record.evalDelivery,jdbcType=DECIMAL},
      </if>
      <if test="record.evalInstall != null" >
        EVAL_INSTALL = #{record.evalInstall,jdbcType=DECIMAL},
      </if>
      <if test="record.evalPhoneBack != null" >
        EVAL_PHONE_BACK = #{record.evalPhoneBack,jdbcType=DECIMAL},
      </if>
      <if test="record.viewTime != null" >
        VIEW_TIME = #{record.viewTime},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TB_WORK_ORDER
    set FID = #{record.fid,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      WORK_NO = #{record.workNo,jdbcType=VARCHAR},
      SEND_DATE = #{record.sendDate},
      SENDER = #{record.sender,jdbcType=VARCHAR},
      PLAT_FORM_ID = #{record.platFormId,jdbcType=VARCHAR},
      PLAT_FORM_NAME = #{record.platFormName,jdbcType=VARCHAR},
      FRANCHISEE_ID = #{record.franchiseeId,jdbcType=VARCHAR},
      MASTER_ID = #{record.masterId,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      GIVE_REASONS = #{record.giveReasons,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      SINGER = #{record.singer,jdbcType=VARCHAR},
      SING_TIME = #{record.singTime},
      SERVICE_MAN = #{record.serviceMan,jdbcType=VARCHAR},
      SERVICE_FEEDBACK = #{record.serviceFeedback,jdbcType=VARCHAR},
      CUS_NAME = #{record.cusName,jdbcType=VARCHAR},
      CUS_ADDRESS = #{record.cusAddress,jdbcType=VARCHAR},
      CUS_TEL = #{record.cusTel,jdbcType=VARCHAR},
      SENDER_ID = #{record.senderId,jdbcType=VARCHAR},
      SERVICE_MAN_ID = #{record.serviceManId,jdbcType=VARCHAR},
      ORDER_SN = #{record.orderSn,jdbcType=DECIMAL},
      MASTER_NAME = #{record.masterName,jdbcType=VARCHAR},
      STATUS_DISPLAY = #{record.statusDisplay,jdbcType=VARCHAR},
      FEEDBACK_CONTENT = #{record.feedbackContent,jdbcType=VARCHAR},
      INSTALL_LINK_PHONE = #{record.installLinkPhone,jdbcType=VARCHAR},
      INSTALL_LINK_MAN = #{record.installLinkMan,jdbcType=VARCHAR},
      FEEDBACK_TIME = #{record.feedbackTime},
      FEEDBACK_MAN = #{record.feedbackMan,jdbcType=VARCHAR},
      INSTALL_LINK_ADDRESS = #{record.installLinkAddress,jdbcType=VARCHAR},
      EVAL_SCORE = #{record.evalScore,jdbcType=DECIMAL},
      CUSTOMER_EVAL = #{record.customerEval,jdbcType=VARCHAR},
      IS_CUS_CONFIRM = #{record.isCusConfirm,jdbcType=DECIMAL},
      REPORT_MAN = #{record.reportMan,jdbcType=VARCHAR},
      COMPLETE_DATE = #{record.completeDate},
      TYPE = #{record.type,jdbcType=VARCHAR},
      BILL_DATE = #{record.billDate},
      MASTER_PHONE = #{record.masterPhone,jdbcType=VARCHAR},
      WORK_ORDER_MASTER_ID = #{record.workOrderMasterId,jdbcType=VARCHAR},
      BOOKING_TIME = #{record.bookingTime},
      DISPATCH_SN = #{record.dispatchSn,jdbcType=VARCHAR},
      DISPATCH_MEMO = #{record.dispatchMemo,jdbcType=VARCHAR},
      MEMO2 = #{record.memo2,jdbcType=VARCHAR},
      STORE_NAME = #{record.storeName,jdbcType=VARCHAR},
      WAREHOUSE_NAME = #{record.warehouseName,jdbcType=VARCHAR},
      FEEDBACK_VALIDITY = #{record.feedbackValidity,jdbcType=VARCHAR},
      IS_FEE = #{record.isFee,jdbcType=VARCHAR},
      CUSTOMER_EVAL_SCORE = #{record.customerEvalScore,jdbcType=DECIMAL},
      FEEDBACK_REMARK = #{record.feedbackRemark,jdbcType=VARCHAR},
      SATISFACTION1 = #{record.satisfaction1,jdbcType=DECIMAL},
      SATISFACTION2 = #{record.satisfaction2,jdbcType=DECIMAL},
      SATISFACTION3 = #{record.satisfaction3,jdbcType=DECIMAL},
      CHECK_CODE = #{record.checkCode,jdbcType=VARCHAR},
      OUT_ORDER_SN = #{record.outOrderSn,jdbcType=VARCHAR},
      FEEDBACK_STATUS = #{record.feedbackStatus,jdbcType=VARCHAR},
      AUDIT_STATUS = #{record.auditStatus,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      IS_TMALL_ORDER = #{record.isTmallOrder,jdbcType=DECIMAL},
      OMS_DISPATCH_NO = #{record.omsDispatchNo,jdbcType=VARCHAR},
      EVAL_SERVICE_COMPLETE = #{record.evalServiceComplete,jdbcType=DECIMAL},
      EVAL_DELIVERY = #{record.evalDelivery,jdbcType=DECIMAL},
      EVAL_INSTALL = #{record.evalInstall,jdbcType=DECIMAL},
      EVAL_PHONE_BACK = #{record.evalPhoneBack,jdbcType=DECIMAL},
      VIEW_TIME = #{record.viewTime}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectWorkOrderById" resultMap="BaseResultMap">
     select <include refid="Base_Column_List" /> from TB_WORK_ORDER where fid=#{workorderid}
  </select>
  <sql id="forWorkOrderNos">
  	<foreach collection="workOrderNos" item="workOrderNo" separator="," >
  		#{workOrderNo}
  	</foreach>
  </sql>
  <update id="batchUpdateWorkOrder">
  	update TB_WORK_ORDER set STATUS=#{status} ,STATUS_DISPLAY=#{statusDisplay} 
  	where WORK_NO in (<include refid="forWorkOrderNos" />)
  </update>
</mapper>